.avatarImage {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  top: 4px;
  border-radius: 50%;
}

.contentContainer {
  display: block;
}

.contentMain {
  width: auto;
}

.contentMain h1 {
  margin-top: 2em;
}

.contentMain h2 {
  margin-top: 4rem;
}

.contentSide {
  width: auto;
}

.contributorItem {
  padding-left: 56px;
  position: relative;
  margin: 12px 0;
  padding-top: 7px;
}

.contentIntro {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.codeBlock {
  background: #edf1f4;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  font-family: monospace;
  border-radius: 10px;
}

@media (min-width: 48rem) {
  .contentMain h1 {
    margin-top: 0;
  }

  .contentContainer {
    display: flex;
    margin: 4rem 0;
  }

  .contentMain {
    width: 54%;
    margin-right: 6%;
  }

  .contentSide {
    width: 40%;
  }

  .contentFeature {
    border: 2px solid #ebecff;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
    border-radius: 10px;
    margin: 1rem 0;
  }
}
