.box {
  background: #7a76de url(/gradient.jpg) no-repeat;
  background-size: cover;
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
  margin: 0 -1rem;

  h1 {
    font-size: 1.75rem;
    opacity: 1;
    color: #fff;
    line-height: 1.2;
  }

  h3 {
    font-size: 1rem;
    mix-blend-mode: multiply;
    opacity: 0.7;
    font-weight: 500;
  }

  span {
    display: inline;
  }
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4rem);
  justify-content: left;
  grid-gap: 3rem;
  padding-right: 1rem;
}

.filterPlacementBox {
  display: flex;
  margin: 1rem 1rem -3rem 1rem;
  padding: 1rem;
  justify-content: center;
}

.filterBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filterInputLabel {
  width: 100%;
}

.filterBoxInput {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  padding: 1rem 1rem 1rem 50px;
  background: #fff url(/ui/search-2-line.svg) 1rem 50% no-repeat;
  background-size: 20px;
  border: 1px solid var(--link-decoration-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: -60px;

  &:focus {
    border-color: var(--link-color);
    outline: none;
  }
}

@media (min-width: 32rem) {
  .filterBox {
    flex-direction: row;
  }

  .filterBoxInput {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    right: 1px;
  }
}

@media (min-width: 48rem) {
  .box {
    padding: 4rem 4rem 5rem 4rem;
    border-radius: 0.5rem;
    margin: 0;
    background-image: url(/gradient-icons.png), url(/gradient.jpg);

    h1 {
      font-size: 2.4rem;
    }

    h3 {
      font-size: 1.4rem;
      margin-top: -0.5rem;
    }

    span {
      display: block;
    }
  }

  .filterBox {
    width: 80%;
  }

  .filterPlacementBox {
    margin: 1rem 1rem -3.5rem 1rem;
  }
}

.styleToggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.styleToggle {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
  border: 1px solid var(--link-decoration-color);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 7rem;
  position: relative;

  img {
    transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.styleToggleSelected {
  border-color: var(--link-color);
  img {
    opacity: 1;
  }
}
