.box {
  background: #E9FDFA;
  padding: 4rem;
  border-radius: 1rem;
  text-align: center;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4rem);
  justify-content: left;
  grid-gap: 3rem;
}
