.hidden {
  display: none;
}

.iconGroup {
  text-align: center;
  margin: 1rem 0;
}

.iconItem {
  margin: 0 8px 32px 8px;
  width: 100px;
}

.iconThumb {
  width: 68px;
  height: 68px;
  padding: 16px;
  margin: 8px auto;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  opacity: 0.8;
  transition: border-color ease-in-out 0.4s, opacity ease-in-out 0.4s;
}

.iconItem:hover .iconThumb {
  border-color: var(--link-decoration-color);
  opacity: 1;
}

.iconItem:hover .iconTitle {
  color: var(--link-color);
  transition: color ease-in-out 0.4s;
}

.iconThumb img {
  width: 36px;
  height: 36px;
}

.iconTitle {
  font-size: 0.8rem;
  color: #ccc;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
