.topBar {
  padding: 0 0 1rem 0;
  display: flex;
}

.title,
.title:link,
.title:visited {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: -0.3rem;
  text-decoration: none;
  background: url(/health-icons-logo.svg) 0 50% no-repeat;
  background-size: 24px;
  padding-left: 36px;
}

.title:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-decoration-color);
}

.links {
  margin-left: auto;
}

.link {
  display: inline-block;
  margin: 0 0 0 2rem;
}

.buttonLink {
  background: var(--link-color) url(/ui/folder-download-line-white.svg) 20px 50% no-repeat;
  background-size: 18px;
  color: #fff !important;
  margin: 0 0 0 2rem;
  padding: 0.6rem 30px 0.6rem 50px;
  border-radius: 3px;
}
