:root {
  --text-color: hsl(172, 89%, 14%);
  --secondary-text-color: rgba(0, 0, 0, 0.7);
  --link-color: #0080ff;
  --link-decoration-color: rgba(0, 128, 255, 0.3);
  --font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    'Liberation Sans', sans-serif;
}

@media (min-width: 44rem) {
  :root {
    --column-gutter-width: 8rem;
  }
}

html,
body {
  padding: 1rem;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 320px;
  max-width: 80rem;
  margin: 0 auto;
  font-family: var(--font-family);
  background: #fff;
  color: var(--text-color);
  line-height: 1.6;
}

#__next {
  min-height: 100%;
}

a,
a:link,
a:visited {
  text-decoration: underline;
  color: var(--link-color);
  text-decoration-color: var(--link-decoration-color);
}

a:hover,
a:active {
  color: #000;
  text-decoration-color: var(--text-color);
}

a:focus-visible {
  outline: 4px solid var(--text-color);
  background: var(--text-color);
  color: #fff;
}
