:root {
  --text-color: hsl(172, 89%, 14%);
  --secondary-text-color: rgba(0, 0, 0, 0.7);
  --link-color: rgba(102, 102, 255, 1);
  --link-color-dark: rgba(9, 9, 80, 1);
  --link-decoration-color: rgba(102, 102, 255, 0.3);
  --font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    'Liberation Sans', sans-serif;
}

@media (min-width: 44rem) {
  :root {
    --column-gutter-width: 8rem;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 1rem;
  min-width: 320px;
  max-width: 100rem;
  margin: 0 auto;
  font-family: var(--font-family);
  background: #fff;
  color: var(--text-color);
  line-height: 1.6;
}

@media (min-width: 48rem) {
  body {
    padding: 2rem;
  }
}

footer {
  margin: 4rem 0;
  padding: 2rem 0;
  border-top: 1px solid var(--link-decoration-color);
}

#__next {
  min-height: 100%;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:active {
  color: #000;
}

a:focus-visible {
  outline: 4px solid var(--text-color);
  background: var(--text-color);
  color: #fff;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

h3 {
  font-weight: normal;
  line-height: 1.7;
}

.contentContainer {
  display: block;
}

.contentMain {
  width: auto;
}

.contentMain h1 {
  margin-top: 2em;
}

.contentMain h2 {
  margin-top: 4rem;
}

.contentSide {
  width: auto;
}

.contentSide div {
  margin: 20px 0;
  padding-top: 10px;
  position: relative;
  padding-left: 56px;
}

.contentSide div::before {
  content: '.';
  width: 40px;
  height: 40px;
  background: rgba(102, 102, 255, 1);
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 4px;
  color: rgba(255, 255, 255, 0);
}

@media (min-width: 48rem) {

  .contentMain h1 {
    margin-top: 0;
  }

  .contentContainer {
    display: flex;
    margin: 4rem 0;
  }

  .contentMain {
    width: 50%;
    margin-right: 10%;
  }

  .contentSide {
    width: 40%;
    background: #EBECFF;
    padding: 1.5rem 2.5rem;
    border-radius: 10px;
  }

  .contentSide div::before {
    background: rgba(102, 102, 255, 0.2);
  }

}
